<div class="auth-form-container">
    <form action="/auth" method="POST" class="auth-form">
        <input type="text" name="login" placeholder="Введите логин" required class="login" />
        <input type="password" name="password" placeholder="Введите пароль" required class="password" />
        <button type="submit" class="submit-auth-btn">Войти</button>
    </form>
</div>