html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
}

.auth-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 20%;
}

.records-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.record-edit-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.edit-record-form {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.edit-record-form > input {
    width: 80%;
}

.edit-record-form > textarea {
    width: 80%;
}

.edit-record-form > p {
    font-size: large;
}

.actions-btn-container {
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#save-btn {
    width: 40%;
}

#clear-btn {
    width: 40%;
}