html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 20%;
}